.myheading {
       font-size:30;
       font-weight: bold;

}


 .input_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  margin:auto;
  border:2px solid black;
  padding: 15px;
  }

  @media screen and (max-width: 770px ) {
    .input_form{
      width: 100%;  
      padding: 5px;
    }
  }


  .input_form div{
    margin:10px;
    width:100%;
    display: flex;
    justify-content: center;
  }
  
.input_form input{
  width: 100%;
}

.input_form table{
  width: 50%;
  margin:auto;
}

.input_form td{
    width: 50%;
}

.input_form  td:last-child {
  background-color: #5696c7;
  
}

.input_form button{

}
  
.input_form  #result{
    background: white; 
    border-radius: 10px; 
    border: 3px solid lightgray; 
    width:fit-content;
    margin: auto; 
    padding: 30px 20px;
    text-align:center;
    font-size:60px; 
  }
  
  #describe table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

#describe td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#describe tr:nth-child(even) {
  background-color: #dddddd;
}
  
  .mybox{ color:white;
        background-color:#4995BE;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align:center;
        font-size:30px;
  
 
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  
  }
  
  
  
 
  
 div.scroll {
                margin: 4px, 4px;
                padding: 4px;
                background-color: white;
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
            }

  .gwhitebox{
    background: ghostwhite; 
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px; padding: 10px;
  }
  
 .but{
    color:white;
    background: blue; 
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px; padding: 10px;
  } 
  
  a {  
  display: inline-block;
  margin: 20px;
  position: relative;
  text-decoration: none;
}


  
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
} 
  
  

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
  
.footer{
       display:flex;
       justify-content:space-between;
}
